@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
}
/* TODO */
